<ion-view>
    <ion-tabs>

        <ion-tab title="网易" ui-sref="menu.content.wyHome">
            <ion-nav-bar>
                <ion-nav-back-button class="button">
                    <i class="ion-arrow-left-c"></i> 后退
                </ion-nav-back-button>
            </ion-nav-bar>
            <ion-nav-view name="wy"></ion-nav-view>
        </ion-tab>

        <ion-tab title="音乐" ui-sref="menu.content.musicHome">
            <!-- 标签 2 内容 -->
            <ion-nav-view name="music"></ion-nav-view>
        </ion-tab>

        <ion-tab title="视频" ui-sref="menu.content.videoHome">
            <!-- 标签 3 内容 -->
            <ion-nav-view name="video"></ion-nav-view>
        </ion-tab>

    </ion-tabs>

</ion-view>
